
traefik/data/*
!traefik/data/*.yml

pihole/*
!pihole/*.yml

jellyfin/*
!jellyfin/*.yml

portainer/*
!portainer/*.yml

minecraft

rustdesk

nodejs/chromebox-page/*
!nodejs/chromebox-page/*.yml
!nodejs/chromebox-page/Dockerfile

nodejs/donovan-web-app/*

LOGS

.env